/* Nav Width for tablets */

@media (max-width: 968px){
 nav .nav-links {
    width: 40%;
  }
}


@media (max-width:600px){
 body {
   overflow-x: hidden;
 }

  /* About Me section */
.about__details {
  padding: 20px 40px;
}
  .about__details .my__details {
    display: block;
    width:100%;
    padding : 0px;
  }

  .about__details .my__details p {
     padding-left : 0px;
     text-align: left;
  }
  
  .about__details .my__details img {
    margin-bottom: 20px;
  }

  


  /* Footer--Section */

    .footer .footer__container {
    display: flex;
    flex-direction: column;
  }

  .footer .footer__container .footer__details {
    margin-bottom: 30px;
  }

    /* Media query for Burger*/
  body {
    overflow-x: hidden;
  }
    nav .nav-links  {
    position : absolute;
    right: 0;
    top: 12vh;
    height : 180px;
    background-color : var(--color-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width : 50%;
    transform: translateY(-10000%);
    transition: transform .6s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li a:focus {
    color : #f7f7f8;
  }

  .burger {
      color : #f7f7f8;
      display: block;
      cursor : pointer;
  }  
}

nav .nav-active {
  transform: translateY(0%);
}

@keyframes fadeinnav {
  from {
    opacity: 0;
    transform : translateX(50px);
  }
  to {
    opacity : 1;
    transform : translateX(0px);
  }
}

.toggle .line1 {
    transform : rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform : rotate(45deg) translate(-5px,-6px);

}